html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.movie-table {
    width: 100%
}

    .movie-table th {
        border: 1px solid #000000;
        padding: 12px 55px;
        background: #FF3131;
    }

    .movie-table th {
        margin: 0 auto;
        text-align: center;
    }

    .movie-table td {
        border: 1px solid #000000;
        padding: 12px 55px;
        background: #FF3131;
    }

    .movie-table td {
        margin: 0 auto;
        text-align: center;
    }

.detail-table td {
    margin: 0 auto;
    text-align: center;
}

.detail-table td {
    border: 1px solid #000000;
    padding: 12px 155px;
    background: #FF3131;
}

.custom-image {
    width: 285px;
    height: 385px;
}

.path-image {
    width: 135px;
    height: 200px;
}