@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<h1> MOVIE SITE </h1>

<table border="1" class="movie-table">
    <thead>
        <tr>
            <th>ID</th>
            <th colspan="2">Name</th>
            <th>Poster</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td colspan="2">@movie.Name</td>
                <td style="vertical-align: middle;"><a href="/movies/getmovie/@movie.Id">
                    @if (!string.IsNullOrEmpty(@movie.ImagePath))
                    {
                        <img src="@movie.ImagePath" alt="Harry Potter" class="path-image" />
                    }
                </a></td>
            </tr>
        }
    </tbody>
</table>